.light {
    --theme-color: #f3caca;
    --theme-page-background: rgb(243, 231, 231);
    --theme-page-text: #111;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #111;
    --theme-page-text: #FFF;
}