.light {
    --theme-color: #fff;
    --theme-page-text: #111;
}

.dark {
    --theme-color: #111;
    --theme-page-text: #FFF;
}


.site-layout .site-layout-background {
    background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}